<div>
  <h2 id="page-heading" data-cy="SpeakerHeading">
    <span>Speakers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-speaker"
        [routerLink]="['/speaker/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Speaker </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="speakers?.length === 0">
    <span>No speakers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="speakers && speakers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="twitter"><span>Twitter</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bio"><span>Bio</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let speaker of speakers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/speaker', speaker.id, 'view']">{{ speaker.id }}</a>
          </td>
          <td>{{ speaker.firstName }}</td>
          <td>{{ speaker.lastName }}</td>
          <td>{{ speaker.email }}</td>
          <td>{{ speaker.twitter }}</td>
          <td>
            <a *ngIf="speaker.bio" (click)="openFile(speaker.bio, speaker.bioContentType)">open</a>
            <span *ngIf="speaker.bio">{{ speaker.bioContentType }}, {{ byteSize(speaker.bio) }}</span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/speaker', speaker.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/speaker', speaker.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(speaker)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
