<div>
  <h2 id="page-heading" data-cy="SessionHeading">
    <span>Sessions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-session"
        [routerLink]="['/session/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Session </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sessions?.length === 0">
    <span>No sessions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sessions && sessions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title"><span>Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startDateTime"><span>Start Date Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="endDateTime"><span>End Date Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let session of sessions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/session', session.id, 'view']">{{ session.id }}</a>
          </td>
          <td>{{ session.title }}</td>
          <td>
            <a *ngIf="session.description" (click)="openFile(session.description, session.descriptionContentType)">open</a>
            <span *ngIf="session.description">{{ session.descriptionContentType }}, {{ byteSize(session.description) }}</span>
          </td>
          <td>{{ session.startDateTime | formatMediumDatetime }}</td>
          <td>{{ session.endDateTime | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/session', session.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/session', session.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(session)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
